{% load i18n %}
{% if validlink %}
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row"><label for="id_new_password1">{% translate "New password" %}</label>
      <input type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" autofocus required>
      <div class="help">{% translate "At least 8 characters, not too common, not only digits." %}</div>{{ form.new_password1.errors }}</div>
    <div class="form-row"><label for="id_new_password2">{% translate "Confirm the password" %}</label>
      <input type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" required>{{ form.new_password2.errors }}</div>
    <button class="btn btn-primary btn-block" type="submit">{{ button }}</button>
  </form>
{% else %}
  <p class="errorlist">{% translate "This link is no longer valid: it has already been used or it has expired." %}</p>
  <p><a class="btn" href="{% url 'password_reset' %}">{% translate "Get a new link" %}</a></p>
{% endif %}
