{% extends "registration/_auth_page.html" %}{% load i18n %}
{% block title %}{% translate "Forgot your password?" %}{% endblock %}
{% block auth %}
  <h2>{% translate "Forgot your password?" %}</h2>
  <p class="muted">{% translate "Enter your e-mail address. We will send you a link to choose a new password." %}</p>
  <form method="post">{% csrf_token %}
    <div class="form-row"><label for="id_email">{% translate "E-mail address" %}</label>
      <input type="email" name="email" id="id_email" autocomplete="email" autofocus required></div>
    {{ form.email.errors }}
    <button class="btn btn-primary btn-block" type="submit">{% translate "Send the link" %}</button>
    <p class="auth-link"><a href="{% url 'login' %}">← {% translate "Back to login" %}</a></p>
  </form>
{% endblock %}
